<div ng-include="'components/navbar/navbar.html'">
</div>


<div class="spinner" ng-show="isLoading">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <p>Please wait</p>
</div>

<div class="container" ng-hide="isLoading">

        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Near Hakametsä</div>
        <div class="panel-body">
            <div id="hakametsa"></div>
            <div class="infopanel">
            <p>Total {{trafficDataKaleva.length}} TKL bus observations between {{convertToLocalDate(trafficDataKaleva[trafficDataKaleva.length-1].exit)}} and {{convertToLocalDate(trafficDataKaleva[0].exit)}} in zone. Average time spent towards Tampere in zone is {{getDurationString(trafficAvgKaleva.tampere)}}. Average time spent towards Hermia in zone is {{getDurationString(trafficAvgKaleva.hervanta)}}.
            </p>
            </div>
        </div>

        <table st-table="displayedCollectionKaleva" st-safe-src="trafficDataKaleva" class="table">
            <tr>
                <th st-sort="line">Line</th>
                <th st-sort="origin">From</th>
                <th st-sort="direction">Direction</th>
                <th st-sort="exit">Date</th>
                <th st-sort="duration">Time Spent</th>
            </tr>
            <tr ng-repeat="vehicle in displayedCollectionKaleva">
                <td>{{vehicle.line}}</td>
                <td>{{vehicle.origin}}</td>
                <td>{{getDirectionString(vehicle.direction)}}</td>
                <td>{{convertUTCDateToLocalDate(vehicle.exit)}}</td>
                <td>{{getDurationString(vehicle.duration)}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Hervannan Valtaväylä</div>
        <div class="panel-body">
            <div id="valtavayla"></div>
            <div class="infopanel">
            <p>Total {{trafficDataValtavayla.length}} TKL bus observations between {{convertToLocalDate(trafficDataValtavayla[trafficDataValtavayla.length-1].exit)}} and {{convertToLocalDate(trafficDataValtavayla[0].exit)}} in zone. Average time spent towards Tampere in zone is {{getDurationString(trafficAvgValtavayla.tampere)}}. Average time spent towards Hermia in zone is {{getDurationString(trafficAvgValtavayla.hervanta)}}.</p>
            </div>
        </div>

        <table st-table="displayedCollectionValtavayla" st-safe-src="trafficDataValtavayla" class="table">
            <tr>
                <th st-sort="line">Line</th>
                <th st-sort="origin">From</th>
                <th st-sort="direction">Direction</th>
                <th st-sort="exit">Date</th>
                <th st-sort="duration">Time Spent</th>
            </tr>
            <tr ng-repeat="vehicle in displayedCollectionValtavayla">
                <td>{{vehicle.line}}</td>
                <td>{{vehicle.origin}}</td>
                <td>{{getDirectionString(vehicle.direction)}}</td>
                <td>{{convertUTCDateToLocalDate(vehicle.exit)}}</td>
                <td>{{getDurationString(vehicle.duration)}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> Kauppakeskus Duo </div>
        <div class="panel-body">
            <div id="duo"></div>
            <div class="infopanel">
            <p>Total {{trafficDataDuo.length}} TKL bus observations between {{convertToLocalDate(trafficDataDuo[trafficDataDuo.length-1].exit)}} and {{convertToLocalDate(trafficDataDuo[0].exit)}} in zone. Average time spent towards Tampere in zone is {{getDurationString(trafficAvgDuo.tampere)}}. Average time spent towards Hermia in zone is {{getDurationString(trafficAvgDuo.hervanta)}}.</p>
            </div>
        </div>

        <table st-table="displayedCollectionDuo" st-safe-src="trafficDataDuo" class="table">
            <tr>
                <th st-sort="line">Line</th>
                <th st-sort="origin">From</th>
                <th st-sort="direction">Direction</th>
                <th st-sort="exit">Date</th>
                <th st-sort="duration">Time Spent</th>
            </tr>
            <tr ng-repeat="vehicle in displayedCollectionDuo">
                <td>{{vehicle.line}}</td>
                <td>{{vehicle.origin}}</td>
                <td>{{getDirectionString(vehicle.direction)}}</td>
                <td>{{convertUTCDateToLocalDate(vehicle.exit)}}</td>
                <td>{{getDurationString(vehicle.duration)}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <p>hervanta-traffic v0.1 beta |
            <a href="mailto:jussi.lampainen@gmail.com?Subject=feedback" target="_top">
    contact</a>
    </div>
</footer>